* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #03071E;
  font-family: 'Frank Ruhl Libre', serif;
}

h2 {
  font-family: 'Cardo', serif;
}

img {
  width: 300px;
  height: 300px;
}

.container {
  max-width: 550px;
  overflow: auto;
  margin: 20px auto;
  min-height: 90vh;
  padding: 20px;
  border-radius: 5px;
  background-color: #370617;
  box-shadow: 5px 5px 15px 5px rgba(12,0,4,0.67);
}

.navbar {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 35px 0;
  background-color: transparent;
}

.navbar a:hover {
  background-color: #6A040F;
}

.navbar .links {
  margin-top: 25px;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  background-color: #03071E;
  border-radius: 5px;
  padding:  10px 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.navbar i {
  margin-right: 10px;
}

