* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #03071E;
  font-family: 'Frank Ruhl Libre', serif;
}

h2 {
  font-family: 'Cardo', serif;
}

h3 {
  color: #6A040F;

}

img {
  width: 300px;
  height: 300px;
}

h2 a:hover {
  color:#9D0208;
}

li, ul {
  width: 100%;
  list-style: none;
}

.container {
  max-width: 550px;
  overflow: auto;
  margin: 20px auto;
  min-height: 90vh;
  padding: 20px;
  border-radius: 5px;
  background-color: #370617;
  box-shadow: 5px 5px 15px 5px rgba(12,0,4,0.67);
}

.navbar {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 35px 0;
  background-color: transparent;
}

.navbar a:hover {
  background-color: #9D0208;
}

.navbar .links {
  margin-top: 25px;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  background-color: #03071E;
  border-radius: 5px;
  padding:  10px 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.navbar i {
  margin-right: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control-row {
  display: flex;
  flex-direction: row;
}

.btn-add:hover , .btn-delete:hover, .btn-hero:hover, .btn-search:hover, .btn-edit:hover {
  background-color: #9D0208;
}


.btn-add, .btn-delete, .btn-search, .btn-edit {
  background-color: #6A040F;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-left: 3px;
}

.btn-hero {
  background-color: #6A040F;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-top: 20px;
}

.hero {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 10px 20px 10px rgba(0,0,0,0.53);
  background-color: #03071E;
}

.powers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.powers p {
  background-color: #6A040F;
  border-radius: 4px;
  padding: 5px;
  margin-right: 5px;
}

label {
  display: inline-block;
  margin: 10px 0;
  color: aliceblue;
}

input[type='text'] {
  border: 1px solid #03071E;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  height: 40px;
  background-color: #03071E;
  margin-bottom: 5px;
  color:aliceblue;
}


textarea {
  border: 1px solid #03071E;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  height: 80px;
  background-color: #03071E;
  margin-bottom: 5px;
  color:aliceblue;
}